<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302033715268-k8di9hdoveo78p2tvehj29ocqfvn7ish.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302033715268-k8di9hdoveo78p2tvehj29ocqfvn7ish</string>
	<key>API_KEY</key>
	<string>AIzaSyCfchRHueemyaDHv-BXsyM7fJMKwPcW7d8</string>
	<key>GCM_SENDER_ID</key>
	<string>302033715268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pheld.learn</string>
	<key>PROJECT_ID</key>
	<string>learnd-80fce</string>
	<key>STORAGE_BUCKET</key>
	<string>learnd-80fce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302033715268:ios:3f4d1d88fba55e5887fc11</string>
</dict>
</plist>